.nav-content{
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 40px;
  .nav-center{
    flex: 1;
    height: 40px;
    background-color: green;
  }
  .nav-left{
    background-color: skyblue;
    height: 40px;
  }
  .nav-right{
    height: 40px;
    background-color: orange;
  }
}

.message-box{
  width: 400px;
  height: 300px;
  border: 1px solid red;
  padding: 10px;
  box-sizing: border-box;
  .messagebox-title{
    font-size: 14px;
    background-color: orange;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
  }
}
.message-item{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  .message-li{
    margin: 0 20px;
  }
}

.model-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.8);
  .inner-content{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    .closeIcon{
      width: 10px;
      height: 10px;
      background-color: orange;
      cursor:pointer;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}
