
.antd_content{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .antd_comment{
    border: 1px solid #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    .antd_comment_list{
      margin: 10px 0;
    }
  }
}
/*//开始状态*/
.alert-enter, .alert-appear{
  opacity: 0;
  transform: translateX(100%);
}
/*//开始执行动画*/
.alert-enter-active,.alert-appear-active{
  opacity: 1;
  transform: translateX(0);
  transition: opacity 600ms, transform 600ms;
}

/*// 退出*/
.alert-exit{
  opacity: 1;
}

/*// 退出中效果*/
.alert-exit-active{
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300ms, transform 1000ms;
}

.alert-exit-done{
  opacity: 0;
}
